* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

html {
    font-size: 80%;
    box-sizing: border-box;
}

body {
    width: 100%;
    align-items: center;
    justify-content: center;
}

div {
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    height: 60%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

thead th {
    background: #19132bf8;
    color: white;
}

tbody tr {
    background: white;
}

th,
td {
    text-align: left;
    padding: 6px;
}

thead,
tr {
    height: 50px;
}

tr:nth-child(even) {
    background-color: #dbd7d7;
    color: rgb(20, 20, 20);
}
tr:nth-child(odd) {
    color: #313131
}